@charset "utf-8";


/*** WEBFONT ***/
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.font--scoreR {font-family: 'S-CoreDream-4Regular', sans-serif;}
.font--scoreB {font-family: 'S-CoreDream-6Bold', sans-serif;}
.font--nexonR {font-family: 'NEXON Lv2 Gothic', sans-serif;}
.font--nexonB {font-family: 'NEXON Lv2 Gothic Bold', sans-serif;}




/*** COMMON STYLE ***/
.clearfix{content: '';display: block;clear:both}

.flex {display: flex;}
.flex--ac {display: flex;align-items:center;}
.flex--ac-jc {display: flex;align-items:center;;justify-content:center;}
.flex--jsb {display: flex;justify-content:space-between;}
.flex--ac-jsb {display: flex;align-items:center;justify-content:space-between;}
.flex--jend {display: flex;justify-content:flex-end;}


.padding-05 {padding: 0 5px;}


/* 심사신청 HEADER */
header {
	position: fixed;
	top:0;
	left: 0;
	right:0;
    z-index: 1;
    background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header .inner {
	width: 100%;
	height: 3.521rem;
	position: relative;
}

header .inner .logo,
.sub-header .header__btn-back  {
	position: absolute;
	top:50%;
	left: 1.250rem;
	transform: translateY(-50%);
	width: 5.521rem;
}

header .inner img {
	width: 100%;	
}

header .inner .btn--sitemap,
.sub-header .header__btn-home {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right:1.250rem;
	width: 1.375rem;
    cursor: pointer;
}


/* SUB HEADER LAYOUT */
header.sub-header {

}

.sub-header .header__btn-back {
	width: 1rem;
}

.sub-header .header__title {
	height: 100%;
	font-size: 1.125rem;
	font-weight: 500;
}

.sub-header .header__btn-home {
	width: 1.083rem;
}


