@charset "UTF-8";

body * {
	box-sizing:border-box;
}

#wrap {
	max-width: 1080px;
	margin: 3.521rem auto 0;
}

#wrap.sub-wrap {
 margin-top: 3.333rem;
}

.inner {
	max-width: 1080px;
    margin: auto;
	padding: 0 1.250rem;
}


/* 심사신청 VISUAL */
.visual {
	position: relative;
	width: 100%;
    min-height: 26.354rem;
    height: 85vw;
    max-height: 650px;
	text-align: center;
	background: url(../images/intro-visual.jpg) no-repeat center bottom;
	background-size: cover;
	border-radius: 0 0 30px 30px;
	overflow: hidden;
}

.visual .visual__text {
	position: absolute;
	top:2.5rem;
	left:0;
	right:0;
	color: #fff;
	text-align: center;
}

.visual .visual__text > span {
	font-size:0.750rem;
	color: #0c3c77;
	font-weight: 700;
}

.visual .visual__text > em {
	margin: 0.563rem auto 1rem;
	font-size: 2.063rem;
	line-height: 1.21;
}

.visual .visual__text > p {
	font-size:0.875rem;
	line-height: 1.476;
	opacity: 0.9;
}


/* SECTION COMMON */
#wrap > section {
	margin-top: 3.125rem;
}

#wrap > section.visual {
	margin-top: 0;
}

#wrap > .notice {
	margin-bottom: 3.125rem;
}

#wrap > .bottom--btns.on {
	margin-top: 0;
	position: sticky;
	bottom:0;
	left: 0;
	right: 0;
	z-index: 9;
    height: 4.375rem;
}

#wrap > section .section__title {
	margin-bottom: 1.250rem;
	font-size:1.250rem;
	line-height: 1;
	color: #111;
	font-weight: 700;
	text-align: center;
}

#wrap .description {
	position: relative;
	padding-left: 0.375rem;
	font-size: 0.625rem;
	line-height: 1.66;
	color: #808080;
}

#wrap .description::before {
	content: '*';
	position: absolute;
	top:2px;
	left:0;
}


/* 심사신청 > 가입안내 */
.guide ul {
	margin-bottom: 0.938rem;
}

.guide ul li {
	position: relative;
	width: 47.91%;
	height: 11.042rem;
	padding:1.666rem 1.042rem 1.458rem;
	border-radius: 10px;
	background-color: #e2f1fd;
}

.guide ul li:last-child {
	background-color: #eaf5ef;
}

.guide ul li::after {
	content: '';
	position: absolute;
	bottom: 1.458rem;
	right: 1.042rem;
	height: 2.813rem;
	background-size: contain !important;
}

.guide ul li:first-child::after {
	width: 2.750rem;
	background: url(../images/intro__sec2__icon1.png) no-repeat center;
}

.guide ul li:last-child::after {
	width: 3.396rem;
	background: url(../images/intro__sec2__icon2.png) no-repeat center;
}

.guide ul li em {
	margin-bottom: 0.563rem;
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 700;
	color: #2093cb;
}

.guide ul li:last-child em {
	color: #649637;
}

.guide ul li p {
	font-size: 0.750rem;
	line-height: 1.527;
	color: #303030;
}


/* 심사신청 > 보험료 */
.premium .section__content {
	width: 100%;
	height: 4.583rem;
	padding: 0 1rem;
	border: 5px solid #f6f6f6;
	border-radius: 10px;
}

.premium .section__content img {
	width: 2.188rem;
}

.premium .section__content p {
	margin-left: 1.083rem;
	font-size: 0.875rem;
}

.premium .section__content p strong {
	font-weight: 700;
}


/* 심사신청 > 보장내용 */
.warranty .section__content ul li {
	margin-bottom: 1.250rem;
}

.warranty .section__content ul li > div {
	width: 100%;
	height: 2.396rem;
	padding: 0 1.063em;
	background-color:#f4f9fc;
	border-radius: 7px;
}

.warranty .section__content ul li em {
	position: relative;
	padding-left: 0.688em;
	font-size: 0.750rem;
	line-height: 1;
	color: #2093cb;
	font-weight: 700;
	background-color: #f4f9fc;
}

.warranty .section__content ul li em::before {
	content: '';
	position: absolute;
	top:40%;
	left:0;
	transform: translateX(-50%);
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	background-color: #2093cb;
}

.warranty .section__content ul li p {
	margin: 0.563rem 0 0 1rem;
	font-size: 0.750rem;
	line-height: 1.55;
	color: #505050;
}

.warranty .section__content ul li p strong {
	color: #333333;
	font-weight: 500;
}

.warranty .section__content .gray-box {
	width: 100%;
	height: 3.958rem;
	padding: 0 1.041rem;
	background-color: #f6f6f6;
	border-radius: 10px;
}


/* 심사신청 > 하단 버튼 (결과조회/ 가입신청) */
.bottom--btns a {
	width: 50%;
	height: 4.375rem;
	font-size: 0.875rem;
	font-weight: 700;
	color: #fff;
	background-color: #2093cb;
	transition: 0.3s;
}

.bottom--btns a.btn--apply {
	background-color: #7eb84b;
}


/* 심사신청 > 유의사항 */
.accordian1 {
	border-top: 1px solid #333333;
}

.accordian1 .accordian__list {
	border-bottom: 1px solid #e1e1e1;
}

.accordian .accordian__title {
	position: relative;
	min-height: 2.875rem;
	padding: 0 0.688rem;
}

.accordian .accordian__title .btn--accordion {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	margin: auto;
	width: 2.5rem;
	height: 100%;
	z-index: 9;
}

.accordian .accordian__title .btn--accordion::after {
	content: '';
	position: absolute;
	top:50%;
	right:0.813rem;
	z-index: 9;
	transform:rotate(0deg) translateY(-50%);
	width:0.583rem;
	height: 0.333rem;
	background: url(../images/intro__sec5__arr.jpg) no-repeat center;
	background-size: contain;
	transition: 0.3s;
}

.accordian1 .accordian__list.active .accordian__title .btn--accordion::after,
.accordian2 .accordian__title .btn--accordion.active::after {
	transform:rotate(180deg) translateY(0.1665rem);
}

.accordian1 .accordian__title img {
	width: 0.916rem;
	margin-right: 0.813rem;
}

.accordian1 .accordian__title span {
	font-size: 0.75rem;
	color: #000;	
	font-weight: 500;
}

.accordian .accordian__contents {
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
	/* display: none; */
    background-color: #f9f9f9;
    font-size: 0.625rem;
    color: #666;
}

.accordian2 .accordian__contents {
	border-top: 0
}

.accordian .accordian__contents .inner {
	border-top: 1px solid #e1e1e1;
    padding: 1rem 0.854rem;
}

.accordian .accordian__contents ul li {
	position: relative;
	padding-left: 0.5rem;
}

.accordian .accordian__contents ul li::before {
	content: '-';
	position: absolute;
	top:0;
	left:0;
}

.accordian .accordian__list3 .accordian__contents em {
	/* font-size: 0.75rem; */
	font-weight: 700;
}

.accordian .accordian__list3 .accordian__contents em:nth-of-type(2) {
	margin-top: 0.5rem;	
}

.accordian .accordian__list4 .accordian__contents ul {
	margin: 0.5rem 0;
}



/* 가입신청 */
.sub-container {
	padding: 3.333rem 0 2.083rem;
}

.page-top {
	position: relative;
	margin-bottom: 2.646rem;
}

.sub-container--result1 .page-top {
	margin-bottom: 4.438rem;
}

.sub-container--result2 .page-top {
	margin-bottom: 2.813rem;
}

.sub-container--apply .page-top h2 {
	line-height: 1.3;
}

.page-top h2 {
	font-size: 1.375rem;
	line-height: 1;
	font-weight: 700;
}

.page-top .step-navi {
	position: absolute;
	top: 0;
	right: 0;
}

.page-top .step-navi li {
	margin-right: 0.375rem;
	width: 0.375rem;
	height: 0.375rem;
	border-radius: 50%;
	background-color: #d4d4d4;
	font-size: 0;
}

.page-top .step-navi li.current {
	width: 1.750rem;
	height: 1.146rem;
	line-height: 1.146rem;
	font-size: 0.583rem;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	background-color: #222222;
	border-radius: 20px;
}

.page-top .step-navi li:last-child {
	margin-right: 0;
}

.input-wrap {
	margin-bottom: 1.875rem;
}

.input-wrap:last-child {
	margin-bottom: 0;
}

.input-wrap > em {
	margin-bottom: 0.688rem;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1;
}

.input-wrap input {
	width: 100%;
	height: 2.708rem;
	padding: 0 0.854em;
	font-size: 0.729rem;
	border: 1px solid #ddd;
	border-radius: 7px;
}

.input-wrap input::placeholder {
	color: #999999;
}

.input--resident ul {
	width: 100%;
}

.input--resident ul li {
	width: 47.916%;
}

.input--resident ul li:nth-child(2) {
	width: 4.166%;
	text-align: center;
}

.input--phone input {
	width: 66.66%;
}

.input--phone button {
	width: 31.25%;	
	height: 2.708rem;
	font-size: 0.729rem;
	color: #eeeeee;
	background-color: #727376;
	border-radius: 4px;
}

.input--certification {
	position: relative;
}

.input--certification .certifi-check {
	position: absolute;
	bottom:1.125rem;
	right: 0.854em;
	width: 0.583rem;
}

.invalid-text {	
	display: none;
	margin: 0.4em 0 0 0.854em;
	font-size: 0.729rem;
	color: #ff2828;
}

.number-wrap {
	position: relative;
}

.accordian2 .accordian__list {
	margin-bottom: 0.416rem;
	border: 1px solid #ddd;
	border-radius: 7px;
	overflow: hidden;
}

.accordian2 .accordian__list:last-child {
	margin-bottom: 0;
}

.accordian2 .accordian__title{
	min-height: 2.750rem;
	height: auto;
	padding: 0.7rem 2.875rem 0.7rem 0.875rem;
}

#wrap  .accordian2 .accordian__title .description {
	line-height: 1;
	margin-top: 4px;
}

.accordian2 .accordian__contents {
	background-color: #fff;
}

.accordian__contents .division {
	margin-bottom: 0.5rem;;
}

.input--check {
	position: relative;
	width: 100%;
	padding-left: 1.563rem; 
	cursor: pointer;
	font-size: 0.75rem;
	line-height: 1.3;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
}

.input--check input { 
	position: absolute;
	left: 0;
	z-index: 9; 
	width: 100%;
	height: 100%;
	opacity: 0; 
	cursor: pointer;
	margin:0;
}

.input--check .checkmark {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 0.938rem;
	height: 0.938rem; 
	border: 1px solid #bdbdbd; 
	background: url(../images/icon--check1.jpg) no-repeat center;border-radius: 50%;
	overflow: hidden;
	background-size: 0.46rem;
}

.input--check input:checked ~ .checkmark {
	border: 1px solid #7eb84b; 
	background-image: url(../images/icon--check2.jpg);
}


.input-wrap--terms {
	position: relative;
}

.input-wrap--terms .input--checkAll {
	position: absolute;
    top: 0;
    left: 5.625rem;
	width:4.375rem;
}

.input-wrap--terms .input--checkAll label{
	font-size: 0.625rem;
	font-weight: 700;
	color: #bdbdbd;
}

.input-wrap--terms .input--checkAll .checkmark {
	width: 100%;
	height: 1.458rem;
	border: 1px solid #ddd;
	border-radius: 20px;
	background-position: 0.646rem 50%;
}

.input-wrap--terms .input--checkAll input:checked ~ label{
	color: #7eb84b;
}

.input-wrap--terms .terms__descriptions {
	margin: 0.875rem 0 1.938rem;
}

.btn--green {
	width: 100%;
	height: 3.125rem;
	font-size: 0.875rem;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #7eb84b;
	border-radius: 7px;
}


/* 가입신청 완료 */
.apply-finish p {
	margin: 2rem auto 4.188rem;
	font-size: 1.125rem;
	line-height: 1;
	text-align: center;
}


/* 결과조회 */
.contact {
	margin-top: 2.125rem;
	padding: 2.458rem 0.833rem 2.208rem;
	background-color: #f0f8fd;
	border-radius: 7px;
}

.contact .title {
	position: relative;
	margin-bottom: 1.5rem;
	padding-top: 1.083rem;
	font-size:1.083rem;
	line-height: 1.384;
	text-align: center;
	background: url(../images/contact__title-bg.png) no-repeat center top;
	background-size: 1.104rem;
}

.contact .title strong {
	font-weight: 700;
}

.contact .box {
	width: 100%;
	height: 4.792rem;
	margin-bottom: 0.813rem;
	padding: 0 1.25rem;
	background-color: #fff;
	border-radius: 7px;
}

/* .contact .box:last-of-type {
	margin-bottom: 0;
}
 */
.contact .box img {
	width: 1.979rem;
	height: 1.979rem;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1)
}

.contact .box dl {
	margin-left: 1.125rem;
}

.contact .box dl dt {
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1;
}

.contact .box dl dd {
	margin-top: 0.583rem;
	line-height: 1;
}

.contact .box dl.contact__tel dd a {
	font-size: 1.125rem;
	line-height: 1;
	color: #2093cb;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.contact .box dl.contact__time dd {
	font-size: 0.75rem;
	color: #666666;
}	


/* 결과조회2 */
.result .result__txt {
	font-size: 0.875rem;
	line-height: 1;
}

.result .result__txt strong {
	font-size: 1.125rem;
	font-weight: 700;
}

.result table {
	width: 100%;
	margin: 1.313rem 0 2.063rem;
}

.result table tr {
	height: 3.25rem;
	font-size: 0.75rem;
	border-bottom: 1px solid #e1e1e1;
}

.result table tr:first-child {
	border-top: 1px solid #e1e1e1;
}

.result table tr th {
	width: 22.6%;
	font-weight: 500;
	background-color: #f6f6f6;
}

.result table tr td {
	padding: 0.5rem 0.875rem;
	background-color: #fff;
	color: #505050;
}